<!--{template header}-->

<section class="ui-container">
   <!--{template searchinput}-->
<div class="ui-tab" id="tab1">
    <ul class="ui-tab-nav ui-border-b">
        <li class="current">最新提问</li>
        <li>高悬赏</li>
        <li>已解决</li>
    </ul>
    <ul class="ui-tab-content" style="width:300%">
        <li>
            <ul class="ui-list ui-list-function ui-list-link ui-border-tb">
             <!--{loop $nosolvelist $index $question}-->
                <li class="ui-border-t">
                    <div class="ui-avatar-s">
                        <span style="background-image:url({$question['avatar']})"></span>
                    </div>
                    <div class="ui-list-info ui-border-t">
                        <h4 class="ui-nowrap"> 
                          {if $question['shangjin']!=0}
                    <label class="shangta ui-label-s">打赏$question['shangjin']元</label>
                    {/if} <a class="ui-txt-default"  href="{url question/view/$question['id']}">
                         {$question['title']}
                         </a>
                         </h4>
                    </div>

                </li>
                 <!--{/loop}-->
               
            </ul>




        </li>
        <li>
         <ul class="ui-list ui-list-function ui-list-link ui-border-tb">
               <!--{eval $nosolvelist=$this->fromcache('rewardlist');}-->
                <!--{loop $nosolvelist $index $question}-->
                <li class="ui-border-t">
                    <div class="ui-avatar-s">
                        <span style="background-image:url({$question['avatar']})"></span>
                    </div>
                    <div class="ui-list-info ui-border-t">
                        <h4 class="ui-nowrap"> 
                        {if $question['shangjin']!=0}
                    <label class="shangta ui-label-s">打赏$question['shangjin']元</label>
                    {/if}   <a class="ui-txt-default"  href="{url question/view/$question['id']}">
                         {$question['title']}
                         </a>
                         </h4>
                    </div>

                </li>
                 <!--{/loop}-->
               
            </ul>
        </li>
        <li>
         <ul class="ui-list ui-list-function ui-list-link ui-border-tb">
            <!--{eval $solvelist=$this->fromcache('solvelist');}-->
                <!--{loop $solvelist $index $question}-->
                <li class="ui-border-t">
                    <div class="ui-avatar-s">
                        <span style="background-image:url({$question['avatar']})"></span>
                    </div>
                    <div class="ui-list-info ui-border-t">
                        <h4 class="ui-nowrap"> 
                          {if $question['shangjin']!=0}
                    <label class="shangta ui-label-s">打赏$question['shangjin']元</label>
                    {/if} <a  class="ui-txt-default"  href="{url question/view/$question['id']}">
                         {$question['title']}
                         </a>
                         </h4>
                    </div>

                </li>
                 <!--{/loop}-->
               
            </ul>
        
        </li>
    </ul>
</div>


    <section class="ui-panel">
        <h2 class=" ui-border-b mar-t-05 ui-txt-highlight" >最新资讯</h2>

        <ul class="ui-list ui-list-link ui-border-tb">
           <!--{eval $newtopiclist=$this->fromcache('topiclist');}-->
             <!--{loop $newtopiclist $index $topic}-->
            <li class="ui-border-t" onclick="window.location.href='{url topic/getone/$topic['id']}'">
           
                <div class="ui-list-img">
                  {eval $indexx=strpos($topic['image'],'http');}
                       {if $indexx>=0 }
                        <span style="background-image:url({$topic['image']})"></span>
                        {else}
                         <span style="background-image:url({SITE_URL}{$topic['image']})"></span>
                         {/if}
                  
                </div>
                <div class="ui-list-info">
                    <h4 class="ui-nowrap">  <a class="ui-txt-default" href="{url topic/getone/$topic['id']}">{$topic['title']}</a></h4>
                    <p class="ui-nowrap">{eval echo cutstr(strip_tags(str_replace('&nbsp;','',$topic['describtion'])),300,'...');}</p>
                </div>
               
            </li>
             <!--{/loop}-->
        </ul>
      
        </section>
   </section>
<section id="border">
    <div class="sec-item">
        <p class="sec-desc mar-l-05 ui-border-b mar-t-05 ui-txt-highlight">最新话题</p>
        <div class="sec-block">
            <div class="ui-label-list">
             <!--{eval $taglist=$this->fromcache('hosttaglist');}-->
                    <!--{loop $taglist $index $tag}-->
                    {if $index<=7}
                <label class="ui-label"> <a target="_blank" title="$tag['name']" href="{url tag-$tag['name']}">{$tag['name']}</a></label>
                   
                    {/if}
                   <!--{/loop}-->
            </div>

        </div>
    </div>
</section>

<!--{template footer}-->
